{% extends 'base.html.twig' %}

{% block title %}Users List{% endblock %}

{% block body %}

<h1>Users List</h1>

<div class="list-main">
    <aside class="aside-wrapper">
        {% include "_partials/_admin_nav.html.twig"%}
    </aside>
    
    <div class="list-wrapper">
        <div>
            <ul>
                {% for user in users %}
                    <li>
                        <p>{{user.username}}</p>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <nav>
        {{knp_pagination_render(users)}}
    </nav> 
</div>

{% endblock %}