{% extends 'base.html.twig' %}

{% block title %}Home Page{% endblock %}

{% block body %}

<figure>
    <img id="minerals-logo" src="{{ asset('/img/minerals.png')}}">
    <h1 id="fig-logo">KZ Minerals</h1>
</figure>
<figure id="diaporama">
    <img src="{{ asset('/img/sainte-marie-aux-mines-photo.jpg') }}">
</figure>

<section class="adv-search-section">
    <h2>Advanced Search</h2>

<div class="adv-search-wrapper">

    <div class="adv-search">
        <div class="adv-search-border">
            <div class="adv-search-fields">
                <p>Name :</p>
                <p>Category :</p>
                <p>Formula :</p>
                <p>Crystal System :</p>
                <p>Colour :</p>
                <p>Lustre :</p>
                <p>Hardness :</p>
                <p>Streak :</p>
                <p>Density :</p>
                <p>Fracture :</p>
            </div>
            <input id="submit-search" type="submit" name="search" value="search">
        </div>
    </div>

</div>
</section>

{% endblock %}
