*
{
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #22577A;
}

h1 {
    background: #80ED99;
    padding: 10px 0px 10px 40px;
    margin: 30px 0;
    width: 450px;
}

h2 {
    background: #80ED99;
    padding: 10px 20px 10px 40px;
    margin: 30px 0;
    width: fit-content;
}

figcaption {
    color: white;
    font-size: 20px;
}

p {
    color: white;
    font-size: 20px;
}

a {
    color: white;
    text-decoration: none;
    font-size: 24px;
}

i {
    font-size: 18px;
    font-weight: 200;
}

header a {
    color: black;
    text-decoration: none;
    font-size: 24px;
}

footer a {
    color: black;
    text-decoration: none;
    font-size: 24px;
}

li {
    color: white;
    text-decoration: none;
    font-size: 20px;
    list-style: none;
}

.form-control {
    border-radius: 5px;
    border: 1px solid #dfdfdf;
    height: 35px;
    width: 100%;
}

.formulaire {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.isDisabled {
    cursor: not-allowed;
    opacity: 0.5;
    font-size: 20px;
}

.isDisabled > a {
color: currentColor;
display: inline-block;
pointer-events: none;
text-decoration: none;
}

header {
    background: #38A3A5;
    padding: 10px 20px
}

.search-zone {
    height: 35px;
}

#nav-header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

#nav-left {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.link-right {
    font-size: 20px;
}

#nav-right {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.search-bar {
    display: flex;
    align-items: center;
}

.accordion {
    background-color: #57CC99;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 146px;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: 19px;
    text-align: center;
}

input[type="submit"] {
    background-color: #57CC99;
    color: #444;
    cursor: pointer;
    padding: 9px;
    border: none;
    outline: none;
}
  
.active, .accordion:hover {
    background-color: #57CC99;
}
  
.panel {
    display: flex;
    flex-direction: column;
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    position: absolute;
    z-index: 6;
    background: #38A3A5;
    gap: 20px;
}

.anchor-panel {
    font-size: 18px;
}

#minerals-logo {
    position: absolute;
    left: 40%;
    top: 32%;
    z-index: 1;
}

#fig-logo {
    position: absolute;
    z-index: 1;
    color: white;
    font-size: 50px;
    left: 42%;
    top: 21%;
    background: none;
}

#diaporama {
    filter: brightness(0.5);
    height: 854px;
    border: 2px solid #22577A;
}

#diaporama img {
    height: 850px;
    width: 100%;
}

.adv-search-section h2 {
    background: #80ED99;
    padding: 10px 0px 10px 20px;
    margin: 30px 0;
    width: 400px;
}

.adv-search {
    border: 1px solid white;
    border-radius: 10px;
    width: 700px;
    height: 700px;
    display: flex;
    background: #38A3A5;
    margin: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.adv-search-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.adv-search-border {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.adv-search-fields {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 20px;
    gap: 25px;
}

.adv-search-fields p {
    color: black;
}

.mineral-options {
    padding: 20px;
    margin-top: 25px;
    border: 1px solid black;
    text-align: end;
}

.mineral-options a {
    font-size: 16px;
    color: white;
}

.list-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0px 35px;
}

.list-wrapper ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.list-wrapper a {
    font-size: 28px;
}


.pagination {
    margin: 40px 0px 20px 30px;
}


.mineral-image {
    width: 350px;
    height: 300px;
}

.section-wiki {
    margin: 20px 0px;
}

.table-list a {
    text-decoration: solid;
}

#variety-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

#add-variety {
    position: absolute;
    left: 254px;
    color: #22577A;
    text-decoration: underline;
}

#varieties-images {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin: 20px 30px;
    padding: 20px;
    border: 1px solid #38A3A5;
}

#mineral-figure {
    margin: 55px 20px;
}

#cCarousel {
    position: relative;
    max-width: 1600px;
    margin: auto;
  }
  
#cCarousel .arrow {
    position: absolute;
    top: 50%;
    display: flex;
    width: 35px;
    height: 45px;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
    z-index: 1;
    font-size: 26px;
    color: white;
    background: #2aa97a4d;
    cursor: pointer;
}

.arrow-symbols {
    font-size: 32px;
    position: absolute;
    top: 1px;
}

#cCarousel #prev {
    left: 0px;
}

#cCarousel #next {
    right: 0px;
}

#carousel-vp {
    width: 1430px;
    height: 400px;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    margin: auto;
}

#cCarousel #cCarousel-inner {
    display: flex;
    position: absolute;
    transition: 0.3s ease-in-out;
    gap: 10px;
    left: 0px;
  }
  
.cCarousel-item {
    width: 350px;
    height: 300px;
    border: 2px solid #38A3A5;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.cCarousel-item img {
    width: 100%;
    object-fit: cover;
    min-height: 246px;
    color: #38A3A5;
}

footer {
    background: #38A3A5;
}

.anchor-footer {
    font-size: 20px;
}

#footer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    gap: 15px;
}

#nav-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px
}

small {
    color: black;
}

@media (max-width: 770px) {
    #carousel-vp {
      width: 510px;
    }
  }
  
  @media (max-width: 510px) {
    #carousel-vp {
      width: 250px;
    }
  }