*
{
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #22577A;
    min-height: 100dvh;
}

h1 {
    background: #80ED99;
    padding: 10px 0px 10px 40px;
    margin: 30px 0;
    width: 450px;
}

h2 {
    background: #80ED99;
    padding: 10px 20px 10px 40px;
    margin: 30px 0;
    width: 700px;
}

figcaption {
    color: white;
    font-size: 20px;
}

p {
    color: white;
    font-size: 20px;
}

a {
    color: white;
    text-decoration: none;
    font-size: 24px;
}

i {
    font-size: 18px;
    font-weight: 200;
}

header a {
    color: black;
    text-decoration: none;
    font-size: 24px;
}

footer a {
    color: black;
    text-decoration: none;
    font-size: 24px;
}

li {
    color: white;
    text-decoration: none;
    font-size: 20px;
    list-style: none;
}

.form-control {
    border-radius: 5px;
    border: 1px solid #dfdfdf;
    height: 35px;
    width: 100%;
}

.form-select {
    border-radius: 5px;
    border: 1px solid #dfdfdf;
    height: 140px;
    width: 100%;
}

.formulaire-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 24px;
    padding: 25px 50px;
}

.formulaire {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.formulaire small {
    color: white
}


.comment-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 24px;
    padding: 25px 50px;
}

.comment {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#response-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 24px;
    padding: 25px 50px;
}


.isDisabled {
    cursor: not-allowed;
    opacity: 0.5;
    font-size: 20px;
}

.isDisabled > a {
color: currentColor;
display: inline-block;
pointer-events: none;
text-decoration: none;
}

header {
    background: #38A3A5;
    padding: 10px 20px
}

.search-zone {
    height: 35px;
    border-radius: 15px 0px 0px 15px;
    border: none;
    padding: 0px 5px 0px 10px;
    width: 250px;
}

#nav-header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

#nav-left {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.link-right {
    font-size: 20px;
}

#nav-right {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.profile-card {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px 20px;
    border: 1px solid #57CC99;
    border-radius: 5px;
    background: #57CC99;
}

.profile-card p {
    color: black;
}

#figure-avatar-header {
    border: 2px solid #22577A;
    border-radius: 15px;
    width: 79px;
    height: 79px;
    overflow: hidden;
}

#avatar-header {
    width: 75px;
    height: 75px;
}

#user-links a {
    font-size: 18px;
}

.sidenav {
    height: 239px;
    width: 167px;
    position: fixed;
    z-index: 2;
    top: 59px;
    right: -250px;
    background: #57CC99;
    padding-top: 36px;
    transition: right 0.5s ease;
    border-radius: 5px;
    display: none;
}

#openBtn {
    display: none;
}

.search-bar {
    display: flex;
    align-items: center;
    position: absolute;
    top: 725px;
    left: 800px;
    border: 1px solid;
    border-radius: 15px 15px 15px 15px;
}

.accordion {
    background-color: #57CC99;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 146px;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: 19px;
    text-align: center;
}
  
.active, .accordion:hover {
    background-color: #57CC99;
}
  
.panel {
    display: flex;
    flex-direction: column;
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    position: absolute;
    z-index: 6;
    background: #38A3A5;
    gap: 5px;
}

.anchor-panel {
    font-size: 18px;
    padding: 10px 0px 10px 0px;
}

#minerals-logo {
    position: absolute;
    left: 40%;
    top: 32%;
    z-index: 1;
}

#fig-logo {
    position: absolute;
    z-index: 1;
    color: white;
    font-size: 50px;
    left: 42%;
    top: 21%;
    background: none;
    padding: 0;
}

#diaporama {
    filter: brightness(0.5);
    height: 854px;
    border: 2px solid #22577A;
}

#diaporama img {
    height: 850px;
    width: 100%;
}

input[type="submit"] {
    background-color: #57CC99;
    color: #444;
    cursor: pointer;
    padding: 9px;
    border: none;
    outline: none;
}

#submit-search {
    background-color: #57CC99;
    color: #444;
    cursor: pointer;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 0px 15px 15px 0px;
}

#submit-advanced-search {
    background-color: #57CC99;
    color: #444;
    cursor: pointer;
    padding: 12px 15px;
    border: none;
    outline: none;
    font-size: 20px;
}

.adv-search-section h2 {
    background: #80ED99;
    padding: 10px 0px 10px 20px;
    margin: 30px 0;
    width: 400px;
}

.adv-search {
    border: 1px solid white;
    border-radius: 10px;
    width: 750px;
    height: 700px;
    display: flex;
    background: #38A3A5;
    margin: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.adv-search-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.adv-search-border {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.adv-search-fields {
    width: 630px;
    height: 568px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    gap: 25px;
}

.adv-search-fields p {
    color: black;
}

div.advanced-search-bar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: space-between;
}

#advanced_search_category {
    height: 30px;
    margin: 0px 10px;
    border-radius: 5px;
}

#advanced_search_varieties, #advanced_search_colors, #advanced_search_lustres {
    height: 65px;
    margin: 0px 10px;
    border-radius: 5px;
    width: 100%;
}

.mineral-options {
    padding: 20px;
    margin-top: 25px;
    border: 1px solid black;
    text-align: end;
}

.mineral-options a {
    font-size: 16px;
    color: white;
}

.options {
    padding: 20px;
    margin-top: 25px;
    border: 1px solid black;
    text-align: end;
}

.options a {
    font-size: 16px;
    color: white;
}

.list-wrapper {
    display: flex;
    flex-direction: column;
    margin: 30px 35px;
}

.list-wrapper ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.list-wrapper a {
    font-size: 28px;
}

.pagination {
    margin: 40px 0px 20px 30px;
}


.mineral-image {
    width: 350px;
    height: 300px;
}

.section-wiki {
    margin: 20px 0px;
}

.table-list a {
    text-decoration: solid;
}

#caracteristics-wrapper {
    margin-left: 40px;
}

#variety-title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#add-variety {
    color: #22577A;
    text-decoration: underline;
    background: #80ED99;
    padding: 10px 20px;
}

.edit-btn {
    background-color: #57CC99;
    color: #444444;
    cursor: pointer;
    padding: 7px;
    border-radius: 10px;
}

.delete-btn {
    background-color: #57CC99;
    color: #444444;
    cursor: pointer;
    padding: 7px;
    border-radius: 10px;
}


#varieties-images {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin: 20px 30px;
    padding: 20px;
    border: 1px solid #38A3A5;
}

#mineral-figure {
    margin: 55px 20px;
}

#cCarousel {
    position: relative;
    max-width: 1600px;
    margin: auto;
  }
  
#cCarousel .arrow {
    position: absolute;
    top: 50%;
    display: flex;
    width: 35px;
    height: 45px;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
    z-index: 1;
    font-size: 26px;
    color: white;
    background: #2aa97a4d;
    cursor: pointer;
}

.arrow-symbols {
    font-size: 32px;
    position: absolute;
    top: 1px;
}

#cCarousel #prev {
    left: 0px;
}

#cCarousel #next {
    right: 0px;
}

#carousel-vp {
    width: 1430px;
    height: 400px;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    margin: auto;
}

#cCarousel #cCarousel-inner {
    display: flex;
    position: absolute;
    transition: 0.3s ease-in-out;
    gap: 10px;
    left: 0px;
  }
  
.cCarousel-item {
    width: 350px;
    height: 300px;
    border: 2px solid #38A3A5;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.cCarousel-item img {
    width: 100%;
    object-fit: cover;
    min-height: 246px;
    color: #38A3A5;
}

.profile-wrapper {
    margin-left: 30px;
    margin-bottom: 30px;
    padding: 20px;
    background: #429f97;
    width: 700px;
    border-radius: 10px;
}

.profile-wrapper p {
    color: black;
    font-size: 24px;
}

.figure-avatar {
    border: 3px solid #22577A;
    border-radius: 20px;
    width: 150px;
    height: 150px;
    margin-bottom: 30px;
    overflow: hidden;
}

.user-avatar {
    width: 150px;
    height: 150px;
}

.message-box-wrapper {
    display: flex;
    flex-direction: row;
    gap: 150px;
}

.message-menu-wrapper {
    width: 400px;
    display: flex;
    flex-direction: column;
    border-right: 2px solid #38A3A5;
    padding: 0px 20px;
}

.message-menu-title {
    width: 100%;
}

.list-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.message-resume {
    border: 1px solid #80ED99;
    border-radius: 15px;
    padding: 0px 20px 30px 20px;
    margin: 20px 0px;
    width: 575px;
    background: #38A3A5;
}

.message-resume h1 {
    width: 100%;
}

.message-resume p {
    color: black;
}

.message-zone {
    border: 1px solid #80ED99;
    border-radius: 15px;
    padding: 0px 20px 30px 20px;
    margin: 20px 0px;
    width: 645px;
    background: #38A3A5;
}

.messages-list-wrapper {
    display: flex;
    flex-direction: row;
    gap: 115px;
}

.messages-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-textarea {
    border-radius: 5px;
    border: 1px solid #dfdfdf;
    height: 130px;
    width: 600px;
}

.discussion-card {
    border: 2px solid #a3a3a3;
    border-radius: 10px;
    width: 900px;
    margin: 0px 0px 20px 25px;
}

.discussion-card p {
    margin: 20px 20px;
}

.discussion-subject {
    background: linear-gradient(0deg, #38A3A5, #57CC99, #38A3A5);
    padding: 20px 0px 15px 20px;
    border-radius: 8px 8px 0px 0px;
}

hgroup.discussion-subject h2 {
    background: none;
    padding: 0;
    margin: 0px 0px 10px 0px;
}

.discussion-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#discussion-avatar-header {
    border: 2px solid #38A3A5;
    border-radius: 15px;
    width: 79px;
    height: 79px;
    overflow: hidden;
}

.discussion-textarea {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 15px;
}

.answer-link {
    margin: 0px 0px 0px 15px;
    border-radius: 5px;
    padding: 4px 10px;
    background: linear-gradient(0deg, #57CC99, #38A3A5, #57CC99);
}

.comment-card {
    border: 2px solid #a3a3a3;
    border-radius: 10px;
    width: 800px;
    margin: 0px 0px 20px 25px;
}

.comment-card p {
    margin: 20px 20px;
}

.comment-subject {
    background: linear-gradient(0deg, #38A3A5, #22577A, #38A3A5);
    padding: 20px 0px 15px 20px;
    border-radius: 8px 8px 0px 0px;
}

hgroup.comment-subject h2 {
    background: none;
    padding: 0;
    margin: 0px 0px 10px 0px;
}


#comment-avatar-header {
    border: 2px solid #80ED99;
    border-radius: 15px;
    width: 79px;
    height: 79px;
    overflow: hidden;
}

.response-comment-card {
    border: 2px solid #a3a3a3;
    border-radius: 10px;
    width: 700px;
    margin: 0px 0px 20px 25px;
}

.response-comment-card p {
    margin: 20px 20px;
}

.discussion-card time {
    float: right;
    padding-right: 20px;
}

.comment-card time {
    float: right;
    padding-right: 20px;
}

.response-comment-card time {
    float: right;
    padding-right: 20px;
}

.reply-link {
    margin: 0px 0px 0px 15px;
    border-radius: 5px;
    padding: 4px 10px;
    background: linear-gradient(0deg, #57CC99, #38A3A5, #57CC99);
}

footer {
    background: #38A3A5;
}

.anchor-footer {
    font-size: 20px;
}

#footer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    gap: 15px;
}

#nav-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px
}

small {
    color: black;
}

@media (max-width: 770px) {
    #carousel-vp {
      width: 510px;
    }
  }
  
@media (max-width: 510px) {
#carousel-vp {
    width: 250px;
}
}


@media only screen and (min-device-width:768px) and (max-device-width: 1024px) {
    #nav-header {
        flex-direction: row;
    }

    #nav-right {
        display: none;
    }

    .sidenav a {
        text-decoration: none;
        font-size: 20px;
        color: #444444;
        display: block;
        transition: 0.1s;
    }
      
    .sidenav a:hover {
        color: #111;
    }
      
    .sidenav ul {
        display: flex;
        list-style-type: none;
        padding: 0;
        margin: 0;
        flex-direction: column;
        gap: 10px;
    }

    .isDisabled {
        padding: 0;
        padding-left: 10px;
    }

    .linkTop {
        padding: 0;
        padding-left: 10px;
    }

    .sidenav {
        height: 301px;
        width: 204px;
        display: block;
    }

    .sidenav.active {
        right: 0px;
    }
      
    .sidenav .close {
        position: absolute;
        top: -5px;
        left: 9px;
        font-size: 36px;
    }
    
    .burger-icon span {
        display: block;
        width: 35px;
        height: 5px;
        background-color: rgb(255, 255, 255);
        margin: 6px 0;
        position: relative;
        left: 25px;
    }

    #openBtn {
        padding-right: 25px;
        display: block;
    }
    
    #fig-logo {
        font-size: 50px;
        left: 33%;
        top: 21%;
    }
    
    #minerals-logo {
        left: 28%;
        top: 32%;
    }

    .search-bar {
        top: 725px;
        left: 235px;
    }

    .search-zone {
        height: 44px;
        font-size: 20px;
    }

    #submit-search {
        padding: 11px;
        font-size: 19px;
    }
    
    #accordion-wrapper {
        display: none;
    }

    .accordion {
        display: none;
    }

    .panel {
        display: none;
    }

}

@media only screen and (min-device-width: 480px) and (max-device-width: 768px) {
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    h1 {
        width: 375px;
    }
    
    h2 {
        width: 375px;
    }

    a {
        font-size: 20px;
    }

    .adv-search-section h2 {
        width: 375px;
        font-size: 20px;
    }
    
    #nav-header {
        flex-direction: row;
    }

    #nav-right {
        display: none;
    }

    .sidenav a {
        text-decoration: none;
        font-size: 16px;
        color: #444444;
        display: block;
        transition: 0.1s;
    }
      
    .sidenav a:hover {
        color: #111;
    }
      
    .sidenav ul {
        display: flex;
        list-style-type: none;
        padding: 0;
        margin: 0;
        flex-direction: column;
        gap: 10px;
    }

    .isDisabled {
        padding: 0;
        padding-left: 10px;
    }

    .linkTop {
        padding: 0;
        padding-left: 10px;
    }

    .sidenav {
        display: block;
    }

    .sidenav.active {
        right: 0px;
    }
      
    .sidenav .close {
        position: absolute;
        top: -5px;
        left: 9px;
        font-size: 36px;
    }
    
    .burger-icon span {
        display: block;
        width: 35px;
        height: 5px;
        background-color: rgb(255, 255, 255);
        margin: 6px 0;
        position: relative;
        left: 25px;
    }

    #openBtn {
        padding-right: 25px;
        display: block;
    }

    .search-zone {
        height: 35px;
        width: 180px;
    }

    #accordion-wrapper {
        display: none;
    }

    .accordion {
        display: none;
    }

    .panel {
        display: none;
    }
    
    #minerals-logo {
        left: 27%;
        top: 22%;
        width: 159px;
    }

    #fig-logo {
        font-size: 34px;
        left: 25%;
        top: 10%;
        width: 190px;
    }

    #diaporama {
        height: 381px;
    }

    #diaporama img {
        height: 376px;
    }

    .search-bar {
        top: 361px;
        left: 69px;
    }

    .adv-search {
        border-radius: 0px;
        width: 100%;
        height: 1063px;
        align-items: center;
        padding: 0px 15px;
    }

    .adv-search-border {
        align-items: flex-start;
    }

    .adv-search-fields {
        width: 150px;
        height: 485px;
        font-size: 19px;
    }

    div.advanced-search-bar {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }

    .form-control {
        height: 33px;
        width: 300px;
    }

    #variety-title {
        flex-direction: column;
    }

    #variety-title h2 {
        margin: 0;
    }

    #add-variety {
        width: 100%;
        padding: 10px 20px 10px 40px;
    }

    .anchor-footer:nth-child(-n + 3) {
        display: none;
    }
  
    .profile-wrapper {
        width: 315px;
    }
}