{% extends 'base.html.twig' %}

{% block title %}Colors List{% endblock %}

{% block body %}

<h1>Colors List</h1>

<div class="list-wrapper">
    <div>
        <ul>
            {% for color in colors %}
                <li><a href="{{path('show_color', {'slug': color.slug})}}">{{color.name}}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>

<nav>
    {{knp_pagination_render(colors)}}
</nav> 

{% endblock %}