{% extends 'base.html.twig' %}

{% block title %}Admin Control Panel{% endblock %}

{% block body %}

<h1>Admin Control Panel</h1>
<div class="list-wrapper">
    <div>
        <ul>
            <li><a href="{{path('app_color')}}">Colors List</a></li>
            <li><a href="{{path('app_lustre')}}">Lustres List</a></li>
        </ul>
    </div>
</div>

{% endblock %}
