{% extends 'base.html.twig' %}

{% block title %}Admin Control Panel{% endblock %}

{% block body %}

<h1>Admin Control Panel</h1>

<aside class="aside-wrapper">
    {% include "_partials/_admin_nav.html.twig"%}
</aside>

{% endblock %}
