{% extends 'base.html.twig' %}

{% block title %}Admin Control Panel{% endblock %}

{% block body %}

<h1>Admin Control Panel</h1>

<a href="{{path('app_color')}}">Colors List</a>
<a href="{{path('app_lustre')}}">Lustres List</a>

{% endblock %}
