{{ form_start(form) }}

<div class="search-bar">
    {{ form_widget(form.search, {'attr': {'class': 'search-zone'} })}}
    <button id="submit-search" type="submit">search</button>
</div>

{{ form_end(form)}}