{% extends 'base.html.twig' %} 

{% block title %}Respond a comment{% endblock %}

{% block body %}

<div id="response-wrapper">
    {{ form_start(form) }}
        {{ form_row(form.content) }}
        {{ form_row(form.send)}}
    {{ form_end(form) }}
</div>

{% endblock %}