{% extends 'base.html.twig' %}

{% block title %}Categories List{% endblock %}

{% block body %}

<h1>Categories List</h1>

<div>
    <div>
        <ul>
            {% for category in categories %}
            <li>{{category.name}}</li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}
