{% extends 'base.html.twig' %} 

{% block title %}Add or remove colors for this mineral{% endblock %}

{% block body %}

<h1>Add or remove colors for this mineral</h1>

<div class="formulaire">
    {{ form_start(form) }}
        {{ form_row(form.colors) }}
        {{ form_row(form.submit) }}
    {{ form_end(form) }}
</div>

{% endblock %}