{% extends 'base.html.twig' %}

{% block title %}Historique des Modifications{% endblock %}

{% block body %}
    <h1>Historique des Modifications</h1>
    <table>
        <thead>
            <tr>
                <th>Mineral</th>
                <th>Date de Modification</th>
                <th>Anciennes Valeurs</th>
                <th>Nouvelles Valeurs</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in history %}
                <tr>
                    <td>{{ entry.mineral.name }}</td>
                    <td>{{ entry.createdAt|date('Y-m-d H:i:s') }}</td>
                    <td>
                        {% for change in entry.changes %}
                            {{ change.0 | json_encode(constant('JSON_PRETTY_PRINT')) }}<br>
                        {% endfor %}
                    </td>
                    <td>
                        {% for change in entry.changes %}
                            {{ change.1 | json_encode(constant('JSON_PRETTY_PRINT')) }}<br>
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}