{% extends 'base.html.twig' %}

{% block title %}Minerals List{% endblock %}

{% block body %}
<div class="mineral-options">
    <a href="{{ path('new_mineral') }}">Add new mineral page</a>
</div>

<h1>Minerals List</h1>

<div class="list-wrapper">
    <div>
        <ul>
            {% for mineral in pagination %}
            <li><a href="{{path('show_mineral', {'id': mineral.id})}}">{{mineral.name}}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>

<nav>
   {{knp_pagination_render(pagination)}}
</nav>

{% endblock %}
