{% extends 'base.html.twig' %}

{% block title %}Lustre Details{% endblock %}

{% block body %}

<h1>Minerals list for <strong>{{lustre.type}}</strong></h1>
<hr>

<div class="list-wrapper">
    <div>
        <ul>
            {% if lustre.minerals | length > 0 %}
                {% for mineral in lustre.minerals %}
                <li><a href="{{ path('show_mineral', {'slug': mineral.slug}) }}">{{mineral.name}}</a></li>
                {% endfor %}
            {% else %}
                <p>There's no mineral added yet</p>
            {% endif %}
        </ul>
    </div>
</div>

{% endblock %}