{% extends 'base.html.twig' %}

{% block title %}Category Details{% endblock %}

{% block body %}

<h1>Minerals list for <strong>{{category.name}}</strong> category</h1>

<div class="list-wrapper">
    <div>
        <ul>
            <li>
                {% for mineral in category.minerals %}
                    <a href="{{ path('show_mineral', {'slug': mineral.slug}) }}">{{mineral.name}}</a>
                {% endfor %}
            </li>
        </ul>
    </div>
</div>

{% endblock %}