{% extends 'base.html.twig' %}

{% block title %}Category Details{% endblock %}

{% block body %}

<h1>Minerals list for <strong>{{category.name}}</strong> category</h1>
<hr>

<div class="list-wrapper">
    <div>
        <ul>
            <li>
                {% if category.minerals | length > 0 %}
                    {% for mineral in category.minerals %}
                        <a href="{{ path('show_mineral', {'slug': mineral.slug}) }}">{{mineral.name}}</a>
                    {% endfor %}
                {% else %}
                    <p>There's no mineral added yet</p>
                {% endif %}
            </li>
        </ul>
    </div>
</div>

{% endblock %}