{% extends 'base.html.twig' %}

{% block title %}Deleted Discussion List{% endblock %}

{% block body %}

<h1>Deleted Discussion List</h1>
<hr>

<div class="list-main">
    <aside class="aside-wrapper">
        {% include "_partials/_admin_nav.html.twig"%}
    </aside>

    <div class="list-wrapper">
        <table>
            <thead>
              <tr>
                <th>Discussion Content</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for discussion in discussions %}
                {% if discussion.isDeletedByModerator == true or discussion.isDeletedByUser == true %}
                  <tr>
                    <td>{{discussion.content}}</td>
                    <td><a href="{{ path('app_admin_restore_discussions_deleted', {'id': discussion.id}) }}">Restore</a></td>
                  </tr>
                {% endif %}
              {% endfor %}
            </tbody>
          </table>    
    </div>
</div>

{% endblock %}