<div class="notification-modal">
    <div id="notification-header">
        <hgroup>
            <h1>Notifications Center</h1>
            <hr>
        </hgroup>
        <button id="btn-quit">x</button>
    </div>
    <div id="notification-body">
        {% for notification in notifications %}
            <p>
                {{notification.comment.user.username}}
                {{notification.comment.content}}
                {{notification.comment.getDateTime}}
            </p>
        {% endfor %}
    </div>
    <div id="notification-footer">
        <a></a>
    </div>
</div>